.page-header
  %h1=t '.title', :default => "Search Results"
.results-list
  - @search.each do |result|
    .result-item.row-fluid
      .span12.title-container
        = link_to result.class,  { :controller => result.class.to_s.downcase.pluralize }  , :class => "search-result-type" 
        = link_to result.name, result
       
      - if result.respond_to?(:highlight) && result.highlight && result.highlight.content
        .span11
          %div.well
            %p{ :class => "short-desc muted" }= result.highlight.content.first.split(" ")[0..100].join(" ").html_safe
        
= page_navigation_links @search