- model_class = Topic
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Type
      %th Number of related items
  %tbody
    - @topics.each do |topic|
      %tr
        %td= link_to(topic.name, topic)
        %td= topic.class.model_name
        %td= topic.documents.to_a.size
= page_navigation_links @topics

