.container
  .hero-unit#home-unit
    %h1 Ahoy.
    %p 
      Welcome to the new home for Maritime Information
      This is a project brought to you by 
      = link_to( "The World Maritime University.", "http://wmu.se")
      Currently, we are presenting documents provided by our students. 
