.container
  .hero-unit#home-unit
    %p 
      This is a collection of dissertations written by students at  
      = link_to( "The World Maritime University.", "http://wmu.se") 

    %p
      If you are interested in the project, have questions, would like a copy of a dissertation,  please contact WMU Head Librarian 
      = link_to( "Chris Hoebeke", "http://wmu.se/people/christopher-hoebeke")


