= f.input :parent_uuid, :as => :hidden, :input_html => { :value => @document.uuid }
.control-group
  = f.label :url, :class => 'uri_field'
  .controls
    = f.url_field :url, :class => 'uri_field'
    = f.link_to_remove "x"