%tr.fields.creator-fields
  %td.remove-row= link_to('x', '#')
  %td= link_to input_to_text(f.text_field(:name, :class => 'text_field')), person_path(input_to_text(f.text_field(:id)))
  %td= input_to_text(f.text_field(:title, :class => 'text_field'))