.hero-unit
  %h1 Hello!
  %p Currently, we are in a private beta. Soon we will be able to registration to the general public. In the meantime, you #{ link_to "can request a user account here.",  new_registration_path(resource_name) } If you already have an account, please log-in using the links below. Thanks! 
  = render "links" 
   