/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
*/

body { padding-top: 3.5em; }


#home-unit { background-color: #FFD589; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
#home-unit h1 { color: #264784; }

/* sidebar
-------------------------------------------------- */

.sidebar-nav.affix {
  max-width: 230px;
  top: 40px;
}

.sidebar-nav {
  margin-top: 40px;
  margin: 30px 0 0;
  font-size: 12px;
}


.sidebar-nav .nav-list li.nav-header { 
  padding: 0;
  margin: 0px;
  border-bottom: none;
/*  border-bottom: 1px solid #AEC0E4; */
   
}

.sidebar-nav .nav-list li  { 
  position: relative;
  margin: 5px 0px;
  padding-left: 3px;
  border-bottom: 1px solid #EEE;
}

.sidebar-nav .nav-list li a { 
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: inline-block;
  line-height: 15px;
  max-width: 85%;
}

.sidebar-nav .nav-list li.active  {
  padding-bottom: 2px;
}

.sidebar-nav .nav-list li.active a {
  display: block;  
}

.sidebar-nav li .count {
  position:absolute;
  right:0px;
  margin: auto;
  background-color: #BFA87D;
}




/* main content */


#main-content {
  padding-top: 3em;  
  min-height: 480px;
}

.page-header h1, .page-header .pagination { display: inline; }

.results-list ul { list-style-type: none; margin: auto; }


.results-list .result-item { }
.results-list .result-item:nth-child(odd)  {
  background-color: #F9F9F9;
}


/* document results */
.items-container { height: 21px; }

.title-container { margin: .5em 0 0 .5em; }

.document-fields {
  position: static;
}

.document-fields .dl-horizontal { margin-top: 2px; margin-bottom: 2px; }
.document-fields .dl-horizontal dt { 
 width: 120px; 
 margin-right: 5px;
}

.document-fields .dl-horizontal dd { 
 margin-left: 65px; 
}

#main-content ul {list-style-type: none; margin: 0; padding-left: 8px;}

ul.items_list li { display: inline;  }


/* search results page */ 
.search-result-type { text-transform: uppercase;
                      float: right;
                      padding: 0 5px;
                      font-size: 20px;
                      }
.short-desc em { padding: 0 .25em; background: yellow; }


/* document show page */
#document-viewer  {  min-height: 800px; }
#document-viewer iframe { width: 100%; margin: 10px; height: 800px; }

/* pagination */

.pagination span.gap {
  padding: 0 10px;
}


/* footer */

.malmo { color: #BDB3E7; }



footer { color: #333; }


.main-container {padding-top: 2.5em;}
.main-container-scolled { padding-top: 8.75em; }

.page-header h1 {
  text-align: left;
}

.page-header h1 a {
  float: right;
  color: white;
}


.page-header h1 a:hover { color: #666; }

.page-header i.back-arrow { font-size: 18px; } 



.table .dl-horizontal dt {  width: 65px; }

.table .dl-horizontal dd { margin-left: 70px; }

.dl-horizontal dd {
  text-align: left;

  min-height: 18px;
 
}

.dl-horizontal dd ul {
  list-style: none;
  margin: 0;
}

table.table { 
  margin-left: 0;
  
  }


td.document-information div.title-container {
   float: left; 
}

td.document-information div.span12.document-fields {
  margin-left: 0;
}

td.document-information  a.title_link {
  color: #2E4F81;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #08C;
}


em.date { float: right}



