// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.summary_textarea_wrapper {
  max-width: 560px

}

.summary_textarea {
  float: left;
  width: 100%;
}

.remove-row {
  width: .5em

}