// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.summary_textarea_wrapper {
  max-width: 560px

}

.summary_textarea {
  float: left;
  width: 100%;
}

.remove-row {
  width: .5em
}

.sidebar-nav { 
  dl {
    dt { width: 75px; }
    dd { margin-left: 88px; } 
  }
}


.sidebar-nav.facets { 
 ul {
  li {
    a { 
      display: inline;
      padding: 1px 30px;
      background-color: #F5F5F5;
      width: 100%;
    }
    a:hover { background-color: #F5F5F5;  }
    span.badge { 
      float: right;
    }
  
  }
 
 }
}


.person_list {
  list-style: none;
  margin: 0 0 9px 0;
  li { width: 120px; }
}

ul.items_list, ul.topics_list {
  list-style: none;
  display: block;
  float: left;
  margin: 5px 0 0 0;
  li {
    float: left;
  }
}

ul.items_list b {
  display: none; 
}

.span9 { iframe { min-height: 780px; width: 100% } }

#results section {  border-bottom: 1px solid #666; clear: both } 
section#result-part { margin: 10px; overflow: hidden; padding-bottom: 5px;
  h3 { margin: 0; font-family: 'Telex', sans-serif; font-weight: bold; color: #317EAC;
      text-rendering: optimizelegibility;
      .manf-man { font-size: 10px; font-weight: normal; }
  }
  .short-desc { em {  color: #C09853; } }
}
