.row-fluid
  .span3
    .well.sidebar-nav.facets
    -# { :data => { :spy=>"affix", "offset-top"=>"20" }} Leaving this out for now.
      %ul.nav.nav-list
        - @facets.each_pair do | facet_label, facet_values| 
          = facet_list(facet_label, facet_values["terms"])
  .span9#main-content
    =render :partial => "shared/flash_messages", :locals => {:flash => flash}
    = content_for?(:content) ? yield(:content) : yield